GAME REQUIREMENTS:
For developing this Brick Breaker we require the following python packages:
1. PYGAME library
2. Python3 version
3. Images and Sounds to make the gaming experience more fun
4. virtual environment (source myenv/bin/activate)

IMPORTS:

import pygame
import random
import sys

ABOUT PYGAME:
Pygame is an open-source library for Python designed for writing video games. It provides functionalities and tools that simplify the process of creating games, handling graphics, sounds, and user input to create mainly 2D retro arcade games such as Tetris, PacMan or Space Invaders.
 it is easy for beginners to start with their project.
